<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- Welcome Section -->
    <div class="welcome-section">
        <div class="comm-welcome">
            <h6 class="comm-head1">Welcome to</h6>
            <h2 class="comm-head2">EduBridge community where 
                we are more than just an education Platform</h2>
            <p class="comm-para">We are a tight-knit community of diverse professionals, 
                creatives, and entrepreneurs coming together to 
                redefine the way we work.</p>
        </div>
        <div class="welcome-img">

        </div>
    </div>
</body>
</html>